@import '../../product-item/scss/product-item.styles';

.main-page {
  display: flex;
  justify-content: center;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  grid-auto-flow: row dense;
}

@media all and (max-width: $app-medium-media-query) {
  .products-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (max-width: $app-tablet-media-query) {
  .products-list {
    grid-template-columns: 1fr 1fr;
  }
}
