@import '../../product-item/scss/product-item.styles';
@import './main-page-controls.styles';

.main-page {
  display: flex;
  justify-content: center;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  grid-auto-flow: row dense;
}

.products-list_big-card {
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
}

.empty-message {
  grid-column: span 4;
  margin-bottom: 20px;

  font-family: $app-font-family;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: $title-text-color;
  text-transform: uppercase;
}

@media all and (max-width: $app-medium-media-query) {
  .products-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .products-list_big-card {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: $app-tablet-media-query) {
  .products-list {
    grid-template-columns: 1fr 1fr;
  }

  .products-list_big-card {
    grid-template-columns: 1fr;
    grid-gap: 1px;
  }
}
