@import '../../../../../scss/variables';

.item__product-cart {
  display: flex;
  margin-bottom: 2px;
  padding: 10px;

  background-color: $card-background;
}

.item__product-cart:last-of-type {
  margin-bottom: 0;
}

.link__product-cart {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-right: 10px;
  color: #ccc;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
  }
}

.contetnt__product-cart {
  display: flex;
  width: 100%;
}

.price-view__item {
  color: $price-now-color;
}

.img__item {
  max-width: 300px;
  max-height: 260px;

  object-fit: contain;
}

.detail__item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title__item {
  font-size: 30px;
  color: #d1b482;
}

.description__item {
  font-size: 15px;
  text-align: justify;
}

.type__item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;

  font-size: 20px;

  .level {
    margin-right: 8px;
  }
}

.current-count-items {
  min-width: 30px;
  padding-left: 8px;
}

.item__product-cart .control__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  font-size: 20px;
  color: #ccc;
}

.amount__item {
  display: flex;
  margin-right: 5px;

  font-size: 18px;

  & > span {
    margin-right: 5px;
  }
}

.product-index {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  line-height: 40px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.add-remove__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > span {
    font-size: 20px;
  }

  & > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    font-size: 30px;
    border-radius: 50%;

    margin: 0 10px;

    color: $title-text-color;

    background-color: $button-background;

    transition: $app-standard-transition;

    &:hover {
      color: $button-background;
      background-color: $title-text-color;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

@media all and (max-width: 930px) {
  .contetnt__product-cart {
    flex-direction: column;

    .img__item {
      align-self: center;
    }
  }
}

@media all and (max-width: 650px) {
  .item__product-cart {
    flex-direction: column;
  }

  .control__item {
    margin-top: 10px;
    align-self: center;

    .amount__item {
      margin-bottom: 5px;
    }
  }

  .product-index {
    position: absolute;
    top: 111%;
    left: 0;
  }
}
