@media all and (max-width: 900px) {
  .img__item {
    max-width: 300px;
    max-height: 260px;
  }

  .title__item {
    font-size: 25px;
    text-align: center;
  }

  .description__item {
    font-size: 20px;
    text-align: center;
  }

  .type__item {
    font-size: 18px;
  }

  .amount__item {
    font-size: 20px;
  }

  .add-remove__item {
    justify-content: space-evenly;
    & > span {
      font-size: 25px;
    }
  
    & > button {
      width: 30px;
      height: 30px;
    }
  }
}

@media all and (max-width: 730px) {
  .img__item {
    max-width: 200px;
    max-height: 160px;
  }

  .title__item {
    font-size: 25px;
    text-align: center;
  }

  .description__item {
    font-size: 20px;
    text-align: center;
  }

  .type__item {
    font-size: 18px;
  }

  .amount__item {
    font-size: 20px;
  }

  .add-remove__item {
    justify-content: space-evenly;
    & > span {
      font-size: 25px;
    }
  
    & > button {
      width: 30px;
      height: 30px;
    }
  }
}