.input-modal {
  width: 100%;
  background-color: #181a1c;
  border: 1px solid orange;
  border-radius: 20px;
  font-size: 18px;
  color: #afafaf;
  padding: 10px 0;
  text-align: center;

  &::placeholder {
    color: #afafaf;
  }

  &:focus {
    outline: 2px solid white;
  }
}

.validation-error {
  border: 1px solid red;
  color: red;

  &::placeholder {
    color: red;
  }
}
