.input-card {
  margin: 0;
  padding: 0;
  border: none;
}

.input-card {
  width: 50px;
  text-align: center;
}

// .input-card:valid {
//   border-color: green;
//   color: black;
//   box-shadow: none;
// }

// .input-card:invalid {
//   border-color: red;
//   color: black;
//   box-shadow: none;
// }

// .input-card:focus:valid {
//   border-color: green;
//   color: green;
//   box-shadow: none;
//   outline: 1px solid green;
// }

// .input-card:focus:invalid {
//   border-color: red;
//   color: red;
//   box-shadow: none;
//   outline: 1px solid red;
// }

.input-card:required:valid {
  border-color: green;
  color: green;
  box-shadow: none;
}

.input-card:required:invalid {
  border-color: red;
  color: red;
  box-shadow: none;
}

// personal detail
.input__personal-details {
  width: 100%;
  text-align: center;

  padding: 0;
  border: none;
}

.input-modal {
  width: 100%;
  background-color: #181a1c;
  border: 1px solid orange;
  border-radius: 20px;
  font-size: 18px;
  color: #afafaf;
  padding: 10px 0;
  text-align: center;
}

.input-modal::placeholder {
  color: #afafaf;
}

.input-modal:focus {
  outline: 2px solid white;
}