@import '../../../../../scss/variables';

.wraper-total-cart {
  height: 100%;
  display: flex;
  justify-content: center;
}

.total-cart {
  position: fixed;
  top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 10px;
  padding-bottom: 0;

  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.title__total-cart {
  width: 100%;
  padding-bottom: 5px;
  font-size: 24px;
  border-bottom: 1px solid $price-now-color;
  text-align: center;
  color: $price-now-color;
}

.content__total-cart {
  width: 100%;
  padding: 20px;
}

.products__total-cart {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;

  font-size: 24px;

  & span {
    margin-right: 5px;

    color: #ccc;
  }
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.price__total-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;

  & span {
    color: #ccc;
  }

  .price {
    margin-left: 5px;
    color: $price-now-color;
  }
}

.promo__total-cart {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  & input {
    width: 140px;
    height: 30px;
    padding: 0 10px;
    font-size: 18px;
    text-align: center;
    color: #ccc;
    border: 1px solid #ccc;

    border-radius: 10px;
  }

  & input:focus {
    border-color: $active-border-color;
  }
}

.btn__total-cart {
  width: 100%;
  margin-top: 10px;
  padding: 10px 30px;
  font-size: 18px;

  color: $title-text-color;
  background-color: $button-background;

  border-radius: 10px;

  transition: $app-standard-transition;

  &:hover {
    color: $button-background;
    background-color: $title-text-color;
  }

  &:active {
    transform: scale(0.9);
  }
}

// promo codes
.promo-codes__total-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code__total-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #ccc;
  margin-bottom: 5px;

  & span {
    margin-right: 5px;
  }

  & button {
    width: 60px;
    padding: 2px;
    font-size: 18px;

    color: $title-text-color;
    background-color: $button-background;

    border-radius: 10px;

    transition: $app-standard-transition;

    &:hover {
      color: $button-background;
      background-color: $title-text-color;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.old-price {
  margin-bottom: 10px;
  text-decoration: line-through;
  text-decoration-thickness: 5px;
  color: white;
}

@media all and (max-width: 1200px) {
  .total-cart {
    position: initial;
    margin-bottom: 10px;
  }
}
