.wraper-total-cart {
  height: 100%;
  display: flex;
  justify-content: center;
}

.total-cart {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;

  border: 2px solid #ccc;
  background-color: rgba(0, 0, 0, 0.3);
}

.title__total-cart {
  width: 100%;
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  color: #ccc;
}

.content__total-cart {
  width: 100%;
  padding: 20px;
}

.products__total-cart {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;

  font-size: 24px;

  & span:first-child {
    color: #ccc;
  }

  & span:last-child {
    color: #d1b482;
  }
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.price__total-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;

  & span:first-child {
    color: #ccc;
  }

  & span:last-child {
    color: #d1b482;
  }
}

.promo__total-cart {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  & input {
    width: 100px;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    color: #ccc;
    border: 1px solid #ccc;
  }

  & input:focus {
    outline: 2px solid #ccc;
  }
}

.btn__total-cart {
  width: 100%;
  padding: 10px 30px;
  border: 1px solid #ccc;
  font-size: 18px;
  color: #ccc;
  transition: 0.2s;

  &:hover {
    color: orange;
    border: 1px solid orange;
  }

  &:active {
    transform: scale(0.95);
  }
}

// promo codes
.promo-codes__total-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code__total-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #ccc;
  margin-bottom: 5px;

  & span {
    margin-right: 5px;
  }

  & button {
    padding: 2px;
    border: 1px solid #ccc;
    font-size: 18px;
    color: #ccc;
  }
}

.old-price {
  margin-bottom: 10px;
  text-decoration: line-through;
  text-decoration-thickness: 5px;
  color: white;
}

@media all and (max-width: 1024px) {
  .wraper-total-cart {
    height: 100%;
    align-items: center;
  }

  .total-cart {
    position: static;
  }
}
