@media all and (max-width: 700px) {
  .credit-card {
    .input__credit-card {
      font-size: 15px;

      &::placeholder {
        font-size: 15px;
      }
    }
  }
}

@media all and (max-width: 400px) {
  .modal__purchase-modal {
    .credit-card {
      width: 296px;

      background-position: 0 -38px;
    }
  }
}
