.credit-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  padding: 20px;
  background-color: rgb(83, 83, 83);
  border-radius: 10px;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  & > div {
    display: flex;
    justify-content: space-between;
  }
}

.input__credit-card {
  margin: 0;
  padding: 5px 0;

  font-size: 18px;
  text-align: center;

  background-color: rgb(197, 197, 197);

  &::placeholder {
    font-size: 18px;
  }

  &:focus {
    outline: 2px solid black;
  }
}

.validity-period__credit-card {
  width: 120px;
}

.cvv-code__credit-card {
  width: 120px;
}

@media(max-width: 360px) {
  .credit-card {
    
    & > div {
      flex-direction: column;
      &  *{
        width: 100%;
        margin-bottom: 20px;
      }
      &  *:last-child{
        margin-bottom: 0;
      }
    }
  }
}