@import '../../../scss/variables.scss';

.main-footer {
  margin-top: 30px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8), 0 0 4px rgba(0, 0, 0, 0.12);

  @media all and (max-width: $app-max-media-query) {
    margin-top: 15px;
  }

  @media all and (max-width: $app-medium-media-query) {
    margin-bottom: 0;
  }

  .footer--centralizer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    width: 96vw;
    height: 40px;
    margin: 0 auto;
    padding: 5px 0;

    font-size: 14px;
  }

  .footer--description {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
  }

  .course--year {
    margin-right: 10px;

    color: $title-text-color;
    font-weight: 300;
    font-size: 16px;
  }

  .socials--list {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .socials--link {
    display: flex;
    align-items: center;
  }

  .socials--icon {
    display: block;
    width: 26px;
    height: 26px;

    background-size: 26px 26px;
    background-repeat: no-repeat;

    border-radius: 50%;

    transition: $app-standard-transition;

    &-github {
      background-image: url('../assets/img/github.svg');
      background-position: center;
      background-repeat: no-repeat;
    }

    @media all and (max-width: $app-medium-width) {
      height: 22px;

      background-size: 22px 22px;
      background-repeat: no-repeat;
    }
  }

  .author,
  .authors-title {
    margin: 0;

    font-size: 14px;
    font-weight: 300;
    color: $title-text-color;
    text-transform: uppercase;
  }

  .authors-title {
    margin-right: 10px;
  }

  .author {
    margin-right: 5px;

    @media all and (max-width: $app-tablet-width) {
      display: none;
    }
  }

  .footer--link {
    display: block;
    height: 26px;
    margin-right: 10px;

    .author {
      transition: $app-standard-transition;

      border-bottom: 1px solid transparent;
    }

    &:focus,
    &:hover,
    &:active {
      .socials--icon {
        background-color: black;
        outline: none;
        box-shadow: 0 0 5px 3px $hover-text-color;
      }

      .author {
        color: $hover-text-color;

        border-bottom: 1px solid $hover-text-color;
      }
    }
  }

  .socials--item:last-of-type .footer--link {
    margin-right: 0;
  }

  .footer--link-rss_course {
    width: 110px;

    background-image: url('../assets/img/rss_logo.svg');
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 20px;

    font-size: 0;
    fill: white;

    transition: $app-standard-transition;

    &:focus,
    &:hover,
    &:active {
      background-color: #dedede;
      outline: none;
      box-shadow: 0 0 5px 3px #dedede;
    }

    @media all and (max-width: $app-tablet-width) {
      width: 70px;

      border-radius: 0;
    }
  }
}
