@import 'https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap';
@import './scss/variables.scss';

.main {
  color: red;

  font-family: $app-font-family;

  .inner {
    color: green;
  }
}
